* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f2f7;
}

header {
    background-color: #4356afbd;
    padding: 12px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

nav ul li a {
    color: rgb(225, 226, 238);
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 5px;
}


main {
    margin-top: 80px;
    padding: 40px 20px;
}

h1 {
    color: #4356afbd;
    margin-bottom: 15px;
    align-content: center;
    text-align: center;
}
p{
    color: #120202;
    margin-bottom: 15px;
    align-content: center;
    text-align: center;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto;
    color:black; 
}

.text{
    display: block;
    padding: 17px;
    font-size: 20px;
}
.text a {
    color: red
    
}

input {
    color: #120202;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}



button {
    width: 100%;
    padding: 10px;
    background-color: #4356afbd;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}



footer {
    background-color: #4356afbd;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 40px;
}
